name: speed_spares_app
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.2.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  # Estas son tus herramientas (SOLO UNA VEZ CADA UNA)
  cupertino_icons: ^1.0.8
  http: ^1.1.0
  url_launcher: ^6.2.4
  flutter_riverpod: ^2.5.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  
  assets:
    - assets/